img {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  height: 750px;
}

div div {
  background-color: #fff;
  border: 1px solid #000;
  width: 60%;
  float: right;
  margin-bottom: 40px;
  padding: 0 10px;
  text-align: right;
}
